@import "compass/reset"
@import "compass/css3"

html, body
	width: 100%
	height: 100%

body 
	background-color: white

#draggable
	width: 273px
	height: 195px
	background-image: url("../roomplans/kitchen.png")
	background-repeat: no-repeat
	background-size: cover

#draggable2
	width: 273px
	height: 195px
	background-image: url("../roomplans/LIVINGROOM_FULL.png")
	background-repeat: no-repeat
	background-size: cover

#draggable3
	width: 273px
	height: 195px
	background-image: url("../roomplans/BEDROOM_FULL_2.png")
	background-repeat: no-repeat
	background-size: cover

#draggable4
	width: 100px
	height: 100px

#droppable5
	width: 150px
	height: 150px

#draggable6
	width: 60px
	height: 20px

.sandbox
	background-color: #fefefe
	width: auto
	height: 100%
	overflow: auto
	position: absolute
	left: 250px
	right: 0
	top: 0
	bottom: 0
	background-image: url("../roomplans/grid.png")

	div 
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		@include transition-property(left, top)
		@include transition-duration(0.10s)
		border: 1px solid black
		overflow: hidden


		img 
			display: block

		.ui-icon-gripsmall-diagonal-se
			border: 0


.Menu
	width: 250px
	height: 100%
	background-color: #333
	position: absolute
	left: 0
	top: 0
	bottom: 0

	.summary
		padding: 15px

.SqMeter
	float: left

#wrapper
	position: relative
	height: 100%
