#draggable { 
        width: 273px; 
        height: 273px; 
        padding: 0.5em; 
        background-image: url('roomplans/kitchen.png');
        background-repeat:no-repeat;
        background-size: 100%;
      }


      #draggable2 { 
        width: 240px; 
        height: 160px; 
        padding: 0.5em;
        background-image: url('roomplans/LIVINGROOM_FULL.png');
        background-repeat:no-repeat;
        background-size: 100%;
        }

      #draggable3 {
        width: 228px; 
        height: 160px; 
        padding: 0.5em;
        background-image: url('roomplans/BEDROOM_FULL_2.png');
        background-repeat:no-repeat;
        background-size: 100%;
        }
    
      #draggable4 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
      #droppable5 { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
      #draggable6 { width: 60px; height: 20px; padding: 0.5em; }


      .sandbox {
        border: solid 1px black;
        margin: auto;
        width: 80%;
        height: 800px;
		position: relative;
      }

      .Menu{
        border: solid 1px black;
      }

      .SqMeter {

        float: left;
      }
	  
	  .trash {
        width: 100px; 
        height: 100px; 
		
		position: absolute;
        bottom: 0px;
		right: 0px;
		background-color: blue;
	  }